body {
  background-color: #bbbbbb;
  margin: 0;
  padding: 0; }

#launchpad {
  height: 100%;
  display: none;
  position: fixed;
  z-index: 99999; }
  #launchpad * {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
  #launchpad
.menu-search-wrapper {
    position: fixed;
    z-index: 99999999;
    top: 50px;
    width: 280px;
    left: 50%;
    margin-left: -140px;
    font-family: inherit; }
    #launchpad
.menu-search-wrapper
> input {
      width: 280px;
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      height: 33px;
      color: #ffffff;
      text-indent: 40px; }
      #launchpad
.menu-search-wrapper
> input:focus {
        box-shadow: none;
        border-color: rgba(255, 255, 255, 0.4); }
    #launchpad
.menu-search-wrapper:before {
      font-family: clawicon;
      position: absolute;
      color: #ffffff;
      right: 10px;
      top: 10px; }
  #launchpad.shown {
    display: block; }
    #launchpad.shown.start {
      -webkit-animation: show 0.4s 1;
      animation: show 0.4s 1; }
    #launchpad.shown.end {
      -webkit-animation: hide 0.4s 1;
      animation: hide 0.4s 1; }
    #launchpad.shown .content {
      min-height: 100%;
      min-height: 100vh;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.9);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0; }
      #launchpad.shown .content:before {
        background-size: cover;
        bottom: 0;
        content: '';
        -webkit-filter: blur(30px);
        filter: blur(30px);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1; }
      #launchpad.shown .content nav {
        margin: 0 auto;
        position: relative; }
        #launchpad.shown .content nav
> div {
          opacity: 0;
          visibility: hidden;
          z-index: 100;
          -webkit-transform: scale(1.8);
          -moz-transform: scale(1.8);
          -o-transform: scale(1.8);
          transform: scale(1.8);
          top: 0;
          left: 0;
          width: 100%; }
          @media (min-width: 510px) {
            #launchpad.shown .content nav
> div {
              position: absolute;
              width: 500px;
              height: 440px;
              margin-left: -250px;
              margin-top: -220px; } }
          @media (min-width: 980px) {
            #launchpad.shown .content nav
> div {
              width: 960px;
              height: 440px;
              margin-left: -480px;
              margin-top: -220px; } }
          #launchpad.shown .content nav
> div.launcher-small {
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            transform: scale(0.8);
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
            opacity: 0.6;
            visibility: visible; }
          #launchpad.shown .content nav
> div.launcher-active {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1); }
          #launchpad.shown .content nav
> div.launcher-hidden {
            opacity: 0;
            visibility: hidden;
            -webkit-transform: scale(0.6);
            -moz-transform: scale(0.6);
            -o-transform: scale(0.6);
            transform: scale(0.6); }
          #launchpad.shown .content nav
> div
ul {
            width: 100%;
            max-width: 1100px; }
            #launchpad.shown .content nav
> div
ul .launcher-item {
              width: 33%;
              margin: 10px 0;
              float: left;
              display: block; }
              @media (min-width: 510px) {
                #launchpad.shown .content nav
> div
ul .launcher-item {
                  width: 20%; } }
              #launchpad.shown .content nav
> div
ul .launcher-item:active {
                opacity: .6; }
              #launchpad.shown .content nav
> div
ul .launcher-item a {
                font-family: inherit;
                display: block;
                margin: 0 auto;
                font-size: 14px;
                text-align: center;
                width: 90%;
                height: 110px;
                border-radius: 10px; }
                @media (min-width: 510px) {
                  #launchpad.shown .content nav
> div
ul .launcher-item a {
                    width: 90px;
                    height: 130px; } }
                @media (min-width: 980px) {
                  #launchpad.shown .content nav
> div
ul .launcher-item a {
                    width: 150px;
                    height: 150px; } }
                #launchpad.shown .content nav
> div
ul .launcher-item a.parent {
                  background-color: rgba(255, 255, 255, 0.1); }
                #launchpad.shown .content nav
> div
ul .launcher-item a:hover {
                  text-decoration: none;
                  color: #ffffff !important; }
                #launchpad.shown .content nav
> div
ul .launcher-item a:before {
                  font-family: clawicon;
                  display: block;
                  text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.7);
                  font-size: 62px;
                  line-height: 78px; }
                  @media (min-width: 510px) {
                    #launchpad.shown .content nav
> div
ul .launcher-item a:before {
                      font-size: 62px;
                      line-height: 78px; } }
                  @media (min-width: 980px) {
                    #launchpad.shown .content nav
> div
ul .launcher-item a:before {
                      font-size: 100px;
                      line-height: 115px; } }
                #launchpad.shown .content nav
> div
ul .launcher-item a
span {
                  color: #ffffff; }
                #launchpad.shown .content nav
> div
ul .launcher-item a.menu-favorite {
                  background-color: #fff; }
                  #launchpad.shown .content nav
> div
ul .launcher-item a.menu-favorite
> span {
                    color: #000; }
                  #launchpad.shown .content nav
> div
ul .launcher-item a.menu-favorite:before {
                    color: #ea6445;
                    font-family: 'clawicon';
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    ine-height: 1;
                    top: 1px;
                    content: "\e821"; }
            #launchpad.shown .content nav
> div
ul:after {
              clear: both;
              display: block;
              content: ''; }
        #launchpad.shown .content nav
div:not(#pager) {
          background-color: rgba(0, 0, 0, 0.5);
          padding: 30px;
          border-radius: 30px; }
        #launchpad.shown .content nav.scale-down {
          -webkit-animation: scale-down 0.4s 1;
          animation: scale-down 0.4s 1; }
        #launchpad.shown .content nav.scale-up {
          -webkit-animation: scale-up 0.4s 1;
          animation: scale-up 0.4s 1; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes scale-up {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@-webkit-keyframes scale-down {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-down {
  0% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
